<div class="base-grid appendix-entry">
  <h3 style="grid-column: 0;">Citation</h3>
  <p class="author-footnote">For attribution in academic contexts, please cite this work as:</p>

  <div class="author-footnote">
  {% capture citation_code -%}
  ```bibtex
    Austin et al., "How to Scale Your Model", Google DeepMind, online, 2025.
  ```
  {%- endcapture %}
  {{ citation_code | markdownify }}
  </div>

  <p class="author-footnote">or as a BibTeX entry:</p>

  <div class="author-footnote">
  {% capture citation_code -%}
  ```bibtex
    @article{scaling-book,
      title = {How to Scale Your Model},
      author = {Austin, Jacob and Douglas, Sholto and Frostig, Roy and Levskaya, Anselm and Chen, Charlie and Vikram, Sharad
      and Lebron, Federico and Choy, Peter and Ramasesh, Vinay and Webson, Albert and Pope, Reiner},
      publisher = {Google DeepMind},
      howpublished = {Online},
      note = {Retrieved from https://jax-ml.github.io/scaling-book/},
      year = {2025}
    }
  ```
  {%- endcapture %}
  {{ citation_code | markdownify }}
  </div>

</div>