<div class="base-grid appendix-entry">
  <h3 style="grid-column: 0;">Miscellaneous</h3>
  <p class="author-footnote" style="grid-column: text;"><sup>*</sup>Work done at Google DeepMind, now at MatX.</p>
</div>